#divCurtain {
	position:absolute;
	left:200px;
	top:0px;
	height:400px;
	width:800px;
	background-color: #eeeeee;
	filter: alpha(opacity=70);
	opacity: 0.7;
	z-index : 100;
}


#divDescription {
	position:absolute;
	left:200px;
	top:0px;
	padding-top:40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	max-width:700px;
	z-index : 101;
}

.description {
	font-family: Arial, sans-serif;
}