#divCurtain {
	position:absolute;
	left:205px;
	height:400px;
	width:800px;
	background-color: #eeeeee;
	filter: alpha(opacity=90);
	opacity: 0.9;
	z-index : 100;
}


#divDescription {
	position:absolute;
	left:200px;
	padding-top:20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	max-width:700px;
	z-index : 101;
}

.description {
	font-family: Arial, sans-serif;
}