#divCurtain {
	position:absolute;
	left:170px;	
	height:400px;
	width:800px;
	background:#888;
	opacity : 0.5;
	z-index : 100;
}


#divDescription {
	position:absolute;
	left:170px;	
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	max-width:700px;

	z-index : 101;
}

.description {
	font-family: Arial, sans-serif;
}