#divCurtain {
	position:absolute;
	left:170px;	
	height:400px;
	width:800px;

	background:#888;
	opacity : 0.5;
	z-index : 100;
}


#divDescription {
	position:absolute;
	left:170px;	
	height:400px;
	width:800px;

	z-index : 101;
}
