#divCurtain {
	position:absolute;
	left:200px;
	top:0px;
	height:400px;
	width:800px;
	background-color: #eeeeee;
	filter: alpha(opacity=70);
	opacity: 0.7;
	z-index : 100;
}


#divDescription {
	position:absolute;
	left:220px;
	top:40px;
	padding-top:0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:0px;
	max-width:520px;
	z-index : 101;
}

#divPicture {
	padding: 20px;
	max-height:300px;
	background-color: #EEE;
}


.description {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size:14px;
	background-color: #EEE;
	padding-left: 20px;
	padding-right: 20px;
}