ul.menu {
	position: absolute;
	left: 0px;
	top: 100px;
	width:180px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index : 200;
	background:#eeeeee none repeat scroll 0 0;
	opacity : 0.7;
	filter: alpha(opacity=70);
}

ul.menu li a {
	display: block;
	width: 195px;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	font-size: 18px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	text-decoration: none;
	color: #000;
}

ul.menu li a:hover {
	background-color: #dbdbdb;
}

ul.menu li a.currentMenuItem {
	background-color:gray;
}
