ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


ul.menu li a {
	display: block;
	width: 200px;
	text-decoration:none;
	color: #000;
}

ul.menu li a:hover {
	background-color: #dbdbdb;
}

ul.menu li a.currentMenuItem {
	background-color:gray;
}
