@import url(http://fonts.googleapis.com/css?family=Scada:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,latin-ext);

html {
}

body {
	margin:0px;
	background-image: url(../img/background.jpeg);
	background-repeat: no-repeat;	
}

#divTitle {
	position:absolute;
	top:0px;
	left:680px;
}

#divTitle2 {
	position:absolute;
	top:30px;
	left:850px;
}

.big_1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #990000;
}

.big_2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #990000;
}

h2{
	font-family: 'Scada', sans-serif;
	font-size: 24px;
}

h3{
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
}